.log {
  overflow: auto;
  max-height:1000px;
  height: auto;
  max-width: 1800px;
  width:auto;
  background-color: #e6e6e6;
  border: 1px solid #e6e6e6;
  color: black;
  display: block;
  font-family: "Courier New", Courier, monospace;
  padding: 5px;
  white-space: pre-wrap;
}
.log:only-child {
  height: inherit;
}
